<script type="text/javascript">
	$(function() {
		$("#accordion").accordion({active:false});
	});
	</script>
<% unless @tasks.empty? %>
<div id="accordion">
	<% @tasks.each do |task| %>
		<h3><a href="#"><%=h task.name %></a></h3>
		<div>
			<div class='task_description'>	
				<h4>Description:</h4>
				<%=h task.description %>
			</div>	
			<div class='task_children'>
				<h4>Children</h4>
				<%= link_to task.tasks.size, project_task_path(@project, task) %>
			</div>
			<div class='task_edit_action'>
				<%= link_to 'View', project_task_path(@project, task) %>
				<%= link_to 'Edit', edit_project_task_path(@project, task) %>
				<%= link_to 'Destroy', project_task_path(@project, task), :confirm => 'Are you sure?', :method => :delete %>
			</div>
		</div>
	<% end %>
</div>
<% end %>
