<h1>Editing task</h1>

<% form_for(@task, :url => project_task_path(@project, @task)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :project %><br />
    <%= f.select :project, Project.all.map {|p| [p.name, p.id]} %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :parent %><br />
    <%= f.text_field :parent %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'show', project_task_path(@project, @task) %> |
<%= link_to 'Back', project_tasks_path(@project) %>