<p>
  <b>Name:</b>
  <%=h @task.name %>
</p>

<p>
  <b>Project:</b>
  <%=h @task.project.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @task.description %>
</p>

<p>
  <b>Parent:</b>
  <%=h @task.parent %>
</p>

<%= render :partial => 'task_list' %>


<%= link_to 'Edit', edit_project_task_path(@project, @task) %> |
<%= link_to 'Back', project_tasks_path(@project) %>
